In [80]:
from azure.storage.blob import BlobServiceClient
import pandas as pd
import time
import numpy as np

STORAGEACCOUNTURL= 'https://adlstrnpython.blob.core.windows.net'
STORAGEACCOUNTKEY= 'P7yZF8jDYk66EfWz0jEsEYfC0QBQrNzuG4T4ynKLb23DoFaFDmdIx33J9pWYm/McJ0RUjHAic5Ug+AStCk/mVQ=='
LOCALFILENAME= 'bronze'
CONTAINERNAME= 'bronze'
BLOBNAME= 'BL-Flickr-Images-Book.csv'

#download from blob
t1 = time.time()
blob_service_client_instance = BlobServiceClient(account_url=STORAGEACCOUNTURL, credential=STORAGEACCOUNTKEY)
blob_client_instance = blob_service_client_instance.get_blob_client(CONTAINERNAME, BLOBNAME, snapshot=None)
with open(LOCALFILENAME, "wb") as my_blob:
    blob_data = blob_client_instance.download_blob()
    blob_data.readinto(my_blob)
t2=time.time()
print(("It takes %s seconds to download "+BLOBNAME) % (t2 - t1))

It takes 1.7495622634887695 seconds to download BL-Flickr-Images-Book.csv

In [81]:
dataframe_images_book = pd.read_csv(LOCALFILENAME)
dataframe_images_book

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8282,4158088,NaN,London,1838,NaN,"The Parochial History of Cornwall, founded on,...","GIDDY, afterwards GILBERT, Davies.","BOASE, Henry Samuel.|HALS, William.|LYSONS, Da...",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
8283,4158128,NaN,Derby,"1831, 32",M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby","NOBLE, Thomas.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
8284,4159563,NaN,London,[1806]-22,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...","GREGSON, Matthew.|LYSONS, Samuel - F.R.S",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 19...
8285,4159587,NaN,Newcastle upon Tyne,1834,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)","ROSS, M. - of Durham",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
8286,4160339,NaN,London,1834-43,NaN,Collectanea Topographica et Genealogica. [Firs...,NaN,"BANDINEL, Bulkeley.|Nichols, John Gough",NaN,NaN,NaN,NaN,continuing,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 79...

In [82]:
dataframe_images_book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8287 entries, 0 to 8286
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Identifier              8287 non-null   int64
 1   Edition Statement       773 non-null    object
 2   Place of Publication    8287 non-null   object
 3   Date of Publication     8106 non-null   object
 4   Publisher               4092 non-null   object
 5   Title                   8287 non-null   object
 6   Author                  6509 non-null   object
 7   Contributors            8287 non-null   object
 8   Corporate Author        0 non-null      float64
 9   Corporate Contributors  0 non-null      float64
 10  Former owner            1 non-null      object
 11  Engraver                0 non-null      float64
 12  Issuance type           8287 non-null   object
 13  Flickr URL              8287 non-null   object
 14  Shelfmarks              8287 non-null   object
dtypes: float64(3), int64(1), object(11)
memory usage: 971.3+ KB

In [83]:
to_drop = ['Edition Statement',
           'Corporate Author',
           'Corporate Contributors',
           'Former owner',
           'Engraver',
           'Contributors',
           'Shelfmarks']

dataframe_images_book.drop(to_drop, inplace = True, axis = 1)
dataframe_images_book.head()

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Issuance type,Flickr URL
0,206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,monographic,http://www.flickr.com/photos/britishlibrary/ta...
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",monographic,http://www.flickr.com/photos/britishlibrary/ta...
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",monographic,http://www.flickr.com/photos/britishlibrary/ta...
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",monographic,http://www.flickr.com/photos/britishlibrary/ta...
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",monographic,http://www.flickr.com/photos/britishlibrary/ta...

In [84]:
dicio_nome_colunas = {'Identifier': 'id', 'Place of Publication': 'lugar_publicacao', 'Date of Publication': 'data_publicacao', 'Publisher': 'editor', 'Title': 'titulo',
       'Author': 'autor', 'Issuance type': 'tipo_emissao', 'Flickr URL': 'URL_flickr'}

In [85]:
dataframe_images_book.rename(columns=dicio_nome_colunas, inplace=True)

In [86]:
dataframe_images_book['id'].is_unique

True

In [87]:
dataframe_images_book.set_index('id', inplace = True)
dataframe_images_book.head()

,lugar_publicacao,data_publicacao,editor,titulo,autor,tipo_emissao,URL_flickr
id,,,,,,,
206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,monographic,http://www.flickr.com/photos/britishlibrary/ta...
216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",monographic,http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",monographic,http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",monographic,http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",monographic,http://www.flickr.com/photos/britishlibrary/ta...

In [88]:
dataframe_images_book.columns

Index(['lugar_publicacao', 'data_publicacao', 'editor', 'titulo', 'autor',
       'tipo_emissao', 'URL_flickr'],
      dtype='object')

In [89]:

dataframe_images_book['data_publicacao'].head(25)

id
206            1879 [1878]
216                   1868
218                   1869
472                   1851
480                   1857
481                   1875
519                   1872
667                    NaN
874                   1676
1143                  1679
1280                  1802
1808                  1859
1905                  1888
1929           1839, 38-54
2836                  1897
2854                  1865
2956               1860-63
2957                  1873
3017                  1866
3131                  1899
4598                  1814
4884                  1820
4976                  1800
5382    1847, 48 [1846-48]
5385               [1897?]
Name: data_publicacao, dtype: object

In [105]:
caracteres_indesejados = ['[', ',', '-', ']', '.', '?', '/']

def limpa_datas(item):
    data_publicacao = str(item.loc['data_publicacao'])
    
    if data_publicacao == 'nan' or data_publicacao[0] == '[':
        return np.NaN
    
    for caractere in caracteres_indesejados:
        if caractere in data_publicacao:
            indice_caractere = data_publicacao.find(caractere)
            data_publicacao = data_publicacao[:indice_caractere]
    
    return data_publicacao

dataframe_images_book['data_publicacao'] = dataframe_images_book.apply(limpa_datas, axis = 1)

In [106]:
dataframe_images_book.head()

,lugar_publicacao,data_publicacao,editor,titulo,autor,tipo_emissao,URL_flickr
id,,,,,,,
206,London,1879,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,monographic,http://www.flickr.com/photos/britishlibrary/ta...
216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",monographic,http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",monographic,http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",monographic,http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",monographic,http://www.flickr.com/photos/britishlibrary/ta...

In [107]:
dataframe_images_book.dtypes.value_counts()

object    7
dtype: int64

In [112]:
extr = dataframe_images_book['data_publicacao'].str.extract(r'^(\d{4})', expand = False)
extr.head()

id
206    1879
216    1868
218    1869
472    1851
480    1857
Name: data_publicacao, dtype: object

In [118]:
dataframe_images_book['data_publicacao'] = pd.to_numeric(extr)
dataframe_images_book['data_publicacao'].dtype

AttributeError: module 'pandas' has no attribute 'to_int'

In [120]:
dataframe_images_book = dataframe_images_book.fillna(0)

In [121]:
dicio_conversao = {'data_publicacao': int}

dataframe_images_book = dataframe_images_book.astype(dicio_conversao)
print(dataframe_images_book.dtypes)

lugar_publicacao    object
data_publicacao      int32
editor              object
titulo              object
autor               object
tipo_emissao        object
URL_flickr          object
dtype: object

In [116]:
dataframe_images_book.isnull().sum() / len(dataframe_images_book)

lugar_publicacao    0.000000
data_publicacao     0.117171
editor              0.506215
titulo              0.000000
autor               0.214553
tipo_emissao        0.000000
URL_flickr          0.000000
dtype: float64

In [117]:

dataframe_images_book.sample(10)

,lugar_publicacao,data_publicacao,editor,titulo,autor,tipo_emissao,URL_flickr
id,,,,,,,
11361,Leipzig,NaN,NaN,"Tirol und Vorarlberg ... Mit ... einer Karte, ...","ACHLEITNER, Arthur - and UBL (E.)",monographic,http://www.flickr.com/photos/britishlibrary/ta...
2717670,Calcutta,NaN,Thacker & Co.,A series of miscellaneous rough sketches of Or...,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...
3165056,Paris,1871.0,NaN,"Rossel. Papiers posthumes, recueillis et annot...","ROSSEL, Louis Nathaniel.",monographic,http://www.flickr.com/photos/britishlibrary/ta...
447183,New York,NaN,De Witt,[Marjorie Daw. A household idyl in two acts.],"Braddon, M. E. (Mary Elizabeth)",monographic,http://www.flickr.com/photos/britishlibrary/ta...
1660097,Leipzig,1828.0,NaN,[Ideen zur Philosophie der Geschichte der Mens...,"Herder, Johann Gottfried",monographic,http://www.flickr.com/photos/britishlibrary/ta...
3172157,Paris,1844.0,NaN,"Histoire d'Angleterre ... Nouvelle édition, a...","ROUJOUX, Prudence Guillaume de - Baron and MAI...",monographic,http://www.flickr.com/photos/britishlibrary/ta...
1714689,Manchester,1839.0,NaN,"Mancuniensis; or, an history of the town of Ma...","HOLLINGWORTH, Richard - M.A",monographic,http://www.flickr.com/photos/britishlibrary/ta...
1940709,New York,1848.0,NaN,[The History of Rome.],"KEIGHTLEY, Thomas.",monographic,http://www.flickr.com/photos/britishlibrary/ta...
2154616,Przemyśl,1880.0,NaN,Obrazki z najdawniejszych dziejów Przemyśla,"LEWICKI, Anatoli.",monographic,http://www.flickr.com/photos/britishlibrary/ta...
124018,London,1818.0,Payne & Foss,"Arthur; or, the Pastor of the Village; a poem....",NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...

In [122]:
dataframe_images_book['lugar_publicacao'].head(10)

id
206                                  London
216                London; Virtue & Yorston
218                                  London
472                                  London
480                                  London
481                                  London
519                                  London
667     pp. 40. G. Bryan & Co: Oxford, 1898
874                                 London]
1143                                 London
Name: lugar_publicacao, dtype: object

In [123]:
dataframe_images_book.loc[4157862]

lugar_publicacao                                  Newcastle-upon-Tyne
data_publicacao                                                  1867
editor                                                     T. Fordyce
titulo              Local Records; or, Historical Register of rema...
autor                   FORDYCE, T. - Printer, of Newcastle-upon-Tyne
tipo_emissao                                              monographic
URL_flickr          http://www.flickr.com/photos/britishlibrary/ta...
Name: 4157862, dtype: object